@page "/Investigacionfomento/convocatoriaproyecto/detalle"
@model AKDEMIC.TEACHERINVESTIGATION.Areas.Admin.Pages.InvestigacionFomento.InvestigacionfomentoConvocatoriaproyectoPage.DetailModel
@using AKDEMIC.DOMAIN.Entities.InvestigacionFomento;
@{
    ViewData["Title"] = "Subir Anexoa";
    ViewBag.Breadcrumbs = new[]
    {
        new BreadcrumbViewData {Name="Proyecto", Url = "/Investigacionfomento/convocatoriaproyecto"},
        new BreadcrumbViewData {Name="Subir Anexos", Url = null},
    };
    Layout = "~/Pages/Shared/Templates/Default/_Layoutinvestigacionfomento.cshtml";
    var lista = new List<InvestigacionfomentoConvocatoriaproyecto>();
    lista = ViewBag.ListaProyecto;
    foreach (var item in lista)
    {
        ViewData["problema"] = item.problema??"";
        ViewData["problemanropag"] = (item.problema??"").Length;
        ViewData["antecedente"] = item.antecedente;
        ViewData["antecedentenropag"] = (item.antecedente ?? "").Length;
        ViewData["resultado"] = item.resultado;
        ViewData["resultadonropag"] = (item.resultado ?? "").Length;
        ViewData["justificacion"] = item.justificacion;
        ViewData["justificacionnropag"] = (item.justificacion??"").Length;
        ViewData["hipotesis"] = item.hipotesis;
        ViewData["hipotesisnropag"] = (item.hipotesis??"").Length;
        ViewData["preguntas"] = item.preguntas;
        ViewData["preguntasnropag"] = (item.preguntas ?? "").Length;
        ViewData["objetivogeneral"] = item.objetivogeneral;
        ViewData["objetivogeneralnropag"] = (item.objetivogeneral??"").Length;
        ViewData["objetivoespecifico"] = item.objetivoespecifico;
        ViewData["objetivoespecificonropag"] = (item.objetivoespecifico ?? "").Length;
        ViewData["metodologia"] = item.metodologia;
        ViewData["metodologianropag"] = (item.metodologia ?? "").Length;
        ViewData["riesgos"] = item.riesgos;
        ViewData["riesgosnropag"] = (item.riesgos ?? "").Length;
        ViewData["resumencientifico"] = item.resumencientifico;
        ViewData["resumencientificonropag"] = (item.resumencientifico ?? "").Length;
        ViewData["equipamiento"] = item.equipamiento;
        ViewData["equipamientonropag"] = (item.equipamiento ?? "").Length;
        ViewData["resultados"] = item.resultados;
        ViewData["resultadosnropag"] = (item.resultados ?? "").Length;
        ViewData["sostenibilidad"] = item.sostenibilidad;
        ViewData["sostenibilidadnropag"] =  (item.sostenibilidad??"").Length;
        ViewData["impacto"] = item.impacto;
        ViewData["impactonropag"] = (item.impacto ?? "").Length;
    }
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Subir Anexos
                    </h3>
                </div>
            </div>
        </div>

        <!--AQUI EMPIEZA EL TAB PANEL-->
        <div class="m-portlet m-portlet--tabs">
            <div class="m-portlet__head" style="height:auto">
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-fill m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" href="#tab_1" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Problema
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link inactive" href="#tab_2" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Antecedente
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_3" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Resultado
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_4" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                               Justificación
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_5" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Hipotesis
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_6" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                               Preguntas
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_7" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Objetivo general
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_8" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Objetivo específicos
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_9" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Metodología
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_10" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Riesgos
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_11" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Resumen científico
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_12" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Equipamiento
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_13" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Resultados
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_14" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Sostenibilidad
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_15" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Impacto
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_16" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Actividades
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_17" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Presupuesto
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" href="#tab_18" data-toggle="tab" role="tab">
                                <i class="fa fa-file"></i>
                                Requisitos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
          

            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1" role="tabpanel">
                        <form id="edit-form-problema" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                           <input name="tipo" hidden value="1" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Problema del proyecto (Max 5000)                                            
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <span id="spproblema" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["problemanropag"] caracteres</span>
                                    <button  id="btnEditProblema" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>

                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="problema" name="problema" style="width:100%;height:200px" class="form-control m-input m-input-textarea">@ViewData["problema"]</textarea>
                            </div>
                        </form>

                       
                    </div>
                    <div class="tab-pane" id="tab_2" role="tabpanel">
                        <form id="edit-form-antecedente" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                           <input name="tipo" hidden value="2" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Estado de Arte o Antecedente (Max 10000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <span id="spantecedente" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["antecedentenropag"] caracteres</span>
                                    <button id="btnEditAntecedente" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="antecedente" name="antecedente" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["antecedente"]</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_3" role="tabpanel">
                        <form id="edit-form-resultado" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                           <input name="tipo" hidden value="3" />
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Resultado o Avances previos obtenidos (Max 4000)
                                    </h3>
                                </div>
                            </div>
                                <div style="text-align:right;">
                                    <span id="spresultado" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["resultadonropag"] caracteres</span>
                                    <button id="btnEditResultado" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                        </div>
                        <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="resultado" name="resultado" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["resultado"]</textarea>
                        </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_4" role="tabpanel">

                       
                        <form id="edit-form-justificacion" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="4" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Justificación  (Max 5000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <span id="spjustificacion" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["justificacionnropag"] caracteres</span>
                                    <button id="btnEditJustificacion" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="justificacion" name="justificacion" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["justificacion"]</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_5" role="tabpanel">                        
                        <form id="edit-form-hipotesis" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="5" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Hipotesis (opcional)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <span id="sphipotesis" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["hipotesisnropag"] caracteres</span>
                                    <button id="btnEditHipotesis" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="hipotesis" name="hipotesis" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["hipotesis"]</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_6" role="tabpanel">                        
                        <form id="edit-form-preguntas" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="6" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Pregunta de Investigación (Max 5000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <span id="sppreguntas" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["preguntasnropag"] caracteres</span>
                                    <button id="btnEditPreguntas" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="preguntas" name="preguntas" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["preguntas"]</textarea>
                            </div>
                        </form>
                    </div>                    
                    <div class="tab-pane" id="tab_7" role="tabpanel">
                        <form id="edit-form-objetivogeneral" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="7" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Objetivo general de la propuesta (Max 2000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <span id="spobjetivogeneral" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["objetivogeneralnropag"]  caracteres</span>
                                    <button id="btnEditObjetivogeneral" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="objetivogeneral" name="objetivogeneral" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["objetivogeneral"]</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_8" role="tabpanel">
                        <form id="edit-form-objetivoespecifico" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="8" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Objetivos específicos (Max 2000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <span id="spobjetivoespecifico" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["objetivoespecificonropag"] caracteres</span>
                                    <button id="btnEditObjetivoespecifico" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="objetivoespecifico" name="objetivoespecifico" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["objetivoespecifico"]</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_9" role="tabpanel">                       
                        <form id="edit-form-metodologia" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="9" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Metodología (Max 15000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <span id="spmetodologia" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["metodologianropag"] caracteres</span>
                                    <button id="btnEditMetodologia" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                                
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="metodologia" name="metodologia" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["metodologia"]</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_10" role="tabpanel">
                        <form id="edit-form-riesgos" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="10" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Describa las limitaciones y riesgos (Max 5000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                <span id="spriesgos" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["riesgosnropag"] caracteres</span>

                                    <button id="btnEditRiesgos" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="riesgos" name="riesgos" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["riesgos"]</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_11" role="tabpanel">
                        <form id="edit-form-resumencientifico" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="11" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Resumen científico de la propuesta (Max 5000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                <span id="spresumencientifico" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["riesgosnropag"] caracteres</span>
                                    <button id="btnEditResumencientifico" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="resumencientifico" name="resumencientifico" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["resumencientifico"]</textarea>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane" id="tab_12" role="tabpanel">
                        <form id="edit-form-equipamiento" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="12" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Describa el equipamiento e infraestructura disponible actualmente (Max 5000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                <span id="spequipamiento" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["equipamientonropag"] caracteres</span>

                                    <button id="btnEditEquipamiento" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="equipamiento" name="equipamiento" style="width:100%;height:300px" class="form-control m-input m-input-textarea">@ViewData["equipamiento"]</textarea>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane" id="tab_13" role="tabpanel">                       
                        <form id="edit-form-resultados" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="13" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Resultados esperados
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                <span id="spresultados" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["resultadosnropag"]  caracteres</span>

                                    <button id="btnEditResultados" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="resultados" name="resultados" style="width:100%;height:300px" class="form-control m-input m-input-textarea m-input-textarea">@ViewData["resultados"]</textarea>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane" id="tab_14" role="tabpanel">                       
                        <form id="edit-form-sostenibilidad" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="14" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Sostenibilidad de la propuesta (Max 2000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <span id="spsostenibilidad" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["sostenibilidadnropag"]  caracteres</span>

                                    <button id="btnEditSostenibilidad" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="sostenibilidad" name="sostenibilidad" style="width:100%;height:300px" class="form-control m-input m-input-textarea m-input-textarea">@ViewData["sostenibilidad"]</textarea>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane" id="tab_15" role="tabpanel">
                        <form id="edit-form-impacto" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EditProyecto" method="post">
                            <input value="@ViewData["id"]" name="Id" hidden />
                            <input name="tipo" hidden value="15" />
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Impacto de la propuesta (Max 2000)
                                        </h3>
                                    </div>
                                </div>
                                <div style="text-align:right;">
                                    <span id="spimpacto" class='btn m-btn btn-sm m-btn--label-danger'>@ViewData["impactonropag"]  caracteres</span>

                                    <button id="btnEditImpacto" type="submit" class="btn btn-primary btn-grabar ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Guardar</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <textarea id="impacto" name="impacto" style="width:100%;height:300px" class="form-control m-input m-input-textarea m-input-textarea">@ViewData["impacto"]</textarea>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane" id="tab_16" role="tabpanel">

                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Lista de Actividades
                                    </h3>
                                </div>
                            </div>
                            <div style="text-align:right;">
                                <button type="button" data-toggle="modal" data-target="#newModalCronograma" class="btn btn-primary m-btn m-btn--icon">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span>Nueva Actividad</span>
                                    </span>
                                </button>
                                
                            </div>
                        </div>
                        <div class="m-portlet__body m-portlet__body--no-padding">
                            <form id="editactividad-form" class="m-form m-form--state" asp-area="Admin" asp-page-handler="" method="post" enctype="multipart/form-data">
                                <input  value="@ViewData["id"]" name="Id" hidden />

                                <div class="modal-body" style="overflow-y:auto;height:400px">
                                    <table class="table table-striped table-bordered" id="data-tableactividades"></table>


                                </div>
                                <div class="modal-footer">
                                    <div style="text-align:right;">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Cancelar
                                        </button>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="tab-pane" id="tab_17" role="tabpanel">

                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Lista de Presupuesto
                                    </h3>
                                </div>
                            </div>
                            <div style="text-align:right;">
                                <button type="button" data-toggle="modal" data-target="#newModalCronogramapresupuesto" class="btn btn-primary m-btn m-btn--icon">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span>Nuevo Concepto</span>
                                    </span>
                                </button>

                            </div>
                        </div>
                        <div class="m-portlet__body m-portlet__body--no-padding">
                            <form id="editactividadpresupuesto-form" class="m-form m-form--state" asp-area="Admin" asp-page-handler="" method="post" enctype="multipart/form-data">
                                <input value="@ViewData["id"]" name="Id" hidden />

                                <div class="modal-body" style="overflow-y:auto;height:400px">
                                    <table class="table table-striped table-bordered" id="data-tableactividadespresupuesto"></table>


                                </div>
                                <div class="modal-footer">
                                    <div style="text-align:right;">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Cancelar
                                        </button>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="tab-pane" id="tab_18" role="tabpanel">

                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Subir Anexos Faltantes
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body m-portlet__body--no-padding">
                            <form id="editanexofaltante-form" class="m-form m-form--state" asp-area="Admin" asp-page-handler="" method="post" enctype="multipart/form-data">
                                <input  value="@ViewData["id"]"  name="Id" hidden />
                                <div class="modal-body">
                                    <table class="table table-striped table-bordered" id="data-tableanexofaltantes"></table>
                                </div>
                                <div class="modal-footer">
                                    <div style="text-align:right;">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Cancelar
                                        </button>

                                    </div>
                                </div>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--AQUI TERMINA EL TAB PANEL-->
        <div class="modal fade" id="newModalCronograma" tabindex="-1000" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
            <div style="max-width:50%" class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Agregar Actividades
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form id="newcronograma-form" class="m-form m-form--state" asp-area="Admin" asp-page-handler="NewActividad" method="post" enctype="multipart/form-data">

                        <input value="@ViewData["id"]" name="IdConvocatoriaproyecto" hidden />

                        <div class="modal-body">
                            <div class="m-form__group">
                                <div class="m-form__group">
                                    <label class="required-form-label">Título:</label>
                                    <input name="titulo" type="text" class="form-control m-input" placeholder="Título" required />
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div style="text-align:right;">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Cancelar
                                </button>
                                <button id="btnNewcronograma" type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                                    <span class="ladda-label">Guardar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editModalCronograma" tabindex="-1000" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
            <div style="max-width:50%" class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Cronograma de Actividades
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form onsubmit="rerurn false" id="editcronograma-form" class="m-form editcronogramam-form--state" asp-area="Admin" asp-page-handler="NewCronograma" method="post" enctype="multipart/form-data">
                        <input name="Id" hidden />
                        <div class="modal-body">

                            <div class="">
                                <label class="required-form-label">Mes del Cronograma:</label>
                                <select multiple="" name="IdConvocatoriaproyectocronograma" class="form-control input_IdConvocatoriaproyectocronograma" required>
                                    <option value="0" disabled>Seleccionar</option>
                                </select>
                            </div>
                            <table class="table table-striped table-bordered" id="data-tablecronogramas"></table>


                        </div>
                        <div class="modal-footer">
                            <div style="text-align:right;">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Cancelar
                                </button>
                                <button  id="btnEditcronograma" type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                                    <span class="ladda-label">Guardar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addModalAnexo" tabindex="-1000" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Subir Anexos
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="addanexo-form" class="m-form m-form--state" asp-area="Admin" asp-page-handler="EnviarAnexofaltante" method="post" enctype="multipart/form-data">
                        <input name="Id" hidden />
                        <div class="modal-body">
                            <div class="m-form__group">
                                <label class="form-label">Archivo</label>
                                <div class="custom-file">
                                    <input class="form-control m-input custom-file-input" name="File" type="file" accept="application/pdf, application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" placeholder="Seleccionar archivo">
                                    <label class="custom-file-label selected">Seleccionar Archivo...</label>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div style="text-align:right;">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Cancelar
                                </button>
                                <button id="btnAddanexo" type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                                    <span class="ladda-label">Guardar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="newModalCronogramapresupuesto" tabindex="-1000" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
            <div style="max-width:50%" class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Agregar Concepto
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form id="newcronogramapresupuesto-form" class="m-form m-form--state" asp-area="Admin" asp-page-handler="NewActividadpresupuesto" method="post" enctype="multipart/form-data">

                        <input value="@ViewData["id"]" name="IdConvocatoriaproyecto" hidden />

                        <div class="modal-body">
                            <div class="m-form__group">
                                <div class="">
                                    <label class="required-form-label">Tipo de Gasto:</label>
                                    <select multiple="" name="IdGastotipo" class="form-control input_IdGastotipo" required>
                                        <option value="0" disabled>Seleccionar</option>
                                    </select>
                                </div>
                                <div class="">
                                    <label class="required-form-label">Unidad de Medida:</label>
                                    <select multiple="" name="IdUnidadmedida" class="form-control input_IdUnidadmedida" required>
                                        <option value="0" disabled>Seleccionar</option>
                                    </select>
                                </div>
                                <div class="m-form__group">
                                    <label class="required-form-label">Concepto de Gasto:</label>
                                    <input name="descripcion" type="text" class="form-control m-input" placeholder="Descripción" required />
                                </div>
                                <div class="m-form__group">
                                    <label class="required-form-label">Cantidad:</label>
                                    <input name="cantidad" type="text" class="form-control m-input" placeholder="0" required />
                                </div>
                                <div class="m-form__group">
                                    <label class="required-form-label">Costo Unitario:</label>
                                    <input name="costounitario" type="text" class="form-control m-input" placeholder="0" required />
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div style="text-align:right;">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Cancelar
                                </button>
                                <button id="btnNewcronogramapresupuesto" type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                                    <span class="ladda-label">Guardar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
  
</div>




@section Scripts{
    <script src="~/js/areas/admin/investigacionfomento/investigacionfomentoconvocatoriaproyecto/detalle.js" asp-append-version="true"></script>
}
