@page "/comite-evaluador/postulaciones/{investigationConvocationPostulantId:Guid}/detalle"
@using Microsoft.AspNetCore.Html
@model AKDEMIC.TEACHERINVESTIGATION.Areas.EvaluatorCommittee.Pages.InvestigationConvocationPostulantPage.DetailModel
@{
    ViewBag.Breadcrumbs = new[] {
        new BreadcrumbViewData {Name="Postulaciones", Url = "/comite-evaluador/postulaciones"},
        new BreadcrumbViewData {Name="Detalle", Url = null}
    };
}
<style>
    .header_space :disabled {
        height: 1px;
        margin-bottom: 28px;
    }

    .option {
        border: 1px #dfe4ed solid;
        border-radius: 15px;
        padding: 5px 12px;
        transition: 0.3s;
        cursor: pointer;
        user-select: none;
    }

        .option:hover {
            background-color: #e6eaf0;
        }

        .option input {
            position: absolute;
            clip: rect(0,0,0,0);
            pointer-events: none;
        }
</style>

<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-primary alert-dismissible fade show" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation-2"></i>
            <span></span>
        </div>
        <div class="m-alert__text">
            <strong>Advertencia</strong> El detalle de la postulación se muestra con campos deshabilitados para verificar el orden.
            <br />Los cambios realizados se aplicar&aacute;n de manera instantanea en el sistema.
        </div>
        <div class="m-alert__close">
        </div>
    </div>
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Detalle de Postulación
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">

                <button data-toggle="modal" data-target="#observationModal" title="Observaciones" class="ml-1 btn btn-primary m-btn--icon">
                    <span>
                        <i class="la la-wrench"></i>
                        <span>Observaciones</span>
                    </span>
                </button>
            </div>

        </div>
        <div class="m-portlet__body">
            @if (Model.Input.ProjectState == TeacherInvestigationConstants.ConvocationPostulant.ProjectState.INPROCESS
            && Model.Input.ReviewState == TeacherInvestigationConstants.ConvocationPostulant.ReviewState.ADMITTED)
            {
                <div style="margin-bottom:15px;text-align:end">
                    <button id="requestDocument" type="button" title="Solicitar Documentos" class="ml-1 btn btn-primary m-btn--icon">
                        <span>
                            <i class="la la-file"></i>
                            <span>Solicitar Documentos</span>
                        </span>
                    </button>
                </div>
            }
            @if (Model.Input.ReviewState == TeacherInvestigationConstants.ConvocationPostulant.ReviewState.ADMITTED
            && (Model.Input.ProjectState == TeacherInvestigationConstants.ConvocationPostulant.ProjectState.REQUESTDOCUMENT ||
            Model.Input.ProjectState == TeacherInvestigationConstants.ConvocationPostulant.ProjectState.ACCEPTED))
            {
                <div style="margin-bottom:15px;text-align:end">
                    <button data-toggle="modal" data-target="#postulantfinancialfileModal" id="postulantFinancialFiles" type="button" title="Informe financiero" class="ml-1 btn btn-primary m-btn--icon">
                        <span>
                            <i class="la la-file"></i>
                            <span>Informes Financieros</span>
                        </span>
                    </button>
                    <button data-toggle="modal" data-target="#postulanttechnicalfileModal" id="postulantTechnicalFiles" type="button" title="Informe técnico" class="ml-1 btn btn-primary m-btn--icon">
                        <span>
                            <i class="la la-file"></i>
                            <span>Informes Técnicos</span>
                        </span>
                    </button>
                </div>

            }

            <div>
                <label>Calificación Mínima del Proyecto: <span class="text-info" style="font-weight:bold">@Model.Input.ConvocationMinScore</span>  </label>
            </div>
            <div>
                <label>Estado del Proyecto: <span class="text-info" style="font-weight:bold">@Model.Input.ProjectStateText</span>  </label>
            </div>
            <div>
                <label>Estado de Revisión: <span class="text-info" style="font-weight:bold">@Model.Input.ReviewStateText</span>  </label>
            </div>
            <div>
                <label>Estado de Avance: <span class="text-info" style="font-weight:bold">@Model.Input.ProgressStateText</span>  </label>
            </div>
            @if (Model.Input.IsRated)
            {
                <div>
                    <label>Calificación: <span class="text-info" style="font-weight:bold">@Model.Input.RateScore</span>  </label>
                </div>
            }
            else
            {
                <div>
                    <label>Calificación: <span class="text-info" style="font-weight:bold">Aún no ha sido calificado</span>  </label>
                </div>
            }
            <div>
                <label>Avance</label>
                <div class="progress" style="height:20px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: @(Model.Input.PercentA)%" aria-valuenow="@Model.Input.PercentA" aria-valuemin="0" aria-valuemax="100">@Model.Input.PercentA %</div>
                </div>
            </div>
        </div>

        <input asp-for="Input.InvestigationConvocationPostulantId" hidden />
        <div class="m-portlet__body">
            <div class="m-form__section m-form__section--first">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">1. Datos Generales:</h3>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-xl-12">
                        <h6 class="m-form__heading-title">1.1 Ámbito de Investigación:</h6>
                        <div class="row">
                            @if (!Model.Input.InvestigationTypeHidden)
                            {
                                <div class="col-xs-6 col-md-6 m-form__group-sub">
                                    <label class="col-form-label">Tipo de Investigación</label>
                                    <input asp-for="Input.InvestigationTypeText" class="form-control m-input" disabled />
                                </div>
                            }
                            @if (!Model.Input.ExternalEntityHidden)
                            {
                                <div class="col-xs-6 col-md-6 m-form__group-sub">
                                    <label class="col-form-label">Entidad Externa</label>
                                    <input asp-for="Input.ExternalEntityText" class="form-control m-input" disabled />
                                </div>
                            }
                            @if (!Model.Input.BudgetHidden)
                            {
                                <div class="col-xs-6 col-md-6 m-form__group-sub">
                                    <label class="col-form-label">Presupuesto</label>
                                    <input asp-for="Input.Budget" class="form-control m-input" disabled />
                                </div>
                            }
                            @if (!Model.Input.InvestigationPatternHidden)
                            {
                                <div class="col-xs-6 col-md-6 m-form__group-sub">
                                    <label class="col-form-label">Forma de Investigación</label>
                                    <input asp-for="Input.InvestigationPatternText" class="form-control m-input" disabled />
                                </div>
                            }
                            @if (!Model.Input.InvestigationAreaHidden)
                            {
                                <div class="col-xs-6 col-md-6 m-form__group-sub">
                                    <label class="col-form-label">Área</label>
                                    <input asp-for="Input.InvestigationAreaText" class="form-control m-input" disabled />
                                </div>
                            }
                            @if (!Model.Input.FacultyHidden)
                            {
                                <div class="col-xs-6 col-md-6 m-form__group-sub">
                                    <label class="col-form-label">Facultad</label>
                                    <input asp-for="Input.FacultyText" class="form-control m-input" disabled />
                                </div>
                            }
                            @if (!Model.Input.CareerHidden)
                            {
                                <div class="col-xs-6 col-md-6 m-form__group-sub">
                                    <label class="col-form-label">Escuela</label>
                                    <input asp-for="Input.CareerText" class="form-control m-input" disabled />
                                </div>
                            }
                            @if (!Model.Input.ResearchCenterHidden)
                            {
                                <div class="col-xs-6 col-md-6 m-form__group-sub">
                                    <label class="col-form-label">Centro</label>
                                    <input asp-for="Input.ResearchCenterText" class="form-control m-input" disabled />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-xl-12">
                        @if (!Model.Input.FinancingHidden)
                        {
                            <h6 class="m-form__heading-title">1.2 Financiamiento:</h6>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 m-form__group-sub">
                                    <label class="col-form-label">Tipo de Financiamiento</label>
                                    <input asp-for="Input.FinancingInvestigationText" class="form-control m-input" disabled />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-xl-12">
                        <h6 class="m-form__heading-title">1.3 Lugar de Ejecución:</h6>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 m-form__group-sub">

                                @if (!Model.Input.ExecutionPlaceHidden)
                                {
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Departamento</th>
                                                <th scope="col">Provincia</th>
                                                <th scope="col">Distrito</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Input.PostulantExecutionPlaces.Count > 0)
                                            {
                                                @for (int i = 0; i < Model.Input.PostulantExecutionPlaces.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@Model.Input.PostulantExecutionPlaces[i].DepartmentText</td>
                                                        <td>@Model.Input.PostulantExecutionPlaces[i].ProvinceText</td>
                                                        <td>@Model.Input.PostulantExecutionPlaces[i].DistrictText</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="3">No se encontraron registros</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }

                                @if (!Model.Input.MainLocationHidden)
                                {
                                    <div class="col-xs-12 col-md-12 m-form__group-sub">
                                        <label class="col-form-label">Localización principal del Proyecto</label>
                                        <textarea rows="5" asp-for="Input.MainLocation" class="form-control m-input" disabled></textarea>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-xl-12">
                        <h6 class="m-form__heading-title">1.4 Línea de Investigación:</h6>
                        <div class="row">
                            @for (int i = 0; i < Model.Input.ResearchLineCategoryRequirments.Count; i++)
                            {
                                @if (!Model.Input.ResearchLineCategoryRequirments[i].Hidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Categoría de Investigación: @Model.Input.ResearchLineCategoryRequirments[i].ResearchLineCategoryName </label>
                                        <input asp-for="Input.ResearchLineCategoryRequirments[i].ResearchLineSelected" class="form-control m-input" disabled />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-form__section m-form__section">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">2. Descripción del problema o Resumen del Proyecto:</h3>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-12">
                            <div class="row">
                                @if (!Model.Input.ProjectTitleHidden)
                                {
                                    <div class="col-xs-12 col-md-12 m-form__group-sub">
                                        <label class="col-form-label">Título del Proyecto</label>
                                        <input asp-for="Input.ProjectTitle" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.GeneralGoalHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Objetivo General</label>
                                        <div>
                                            @(new HtmlString(Model.Input.GeneralGoal))
                                        </div>
                                    </div>
                                }
                                @if (!Model.Input.ProblemFormulationHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Formulación del Problema</label>
                                        <input asp-for="Input.ProblemFormulation" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.SpecificGoalHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Objetivos Especificos</label>
                                        <div>
                                            @(new HtmlString(Model.Input.SpecificGoal))
                                        </div>
                                    </div>
                                }
                                @if (!Model.Input.JustificationHidden)
                                {
                                    <div class="col-xs-12 col-md-12 m-form__group-sub">
                                        <label class="col-form-label">Justificación</label>
                                        <input asp-for="Input.Justification" class="form-control m-input" disabled />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-form__section m-form__section">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">3. Marco de Referencia:</h3>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-12">
                            <div class="row">
                                @if (!Model.Input.TheoreticalFundamentHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Fundamentos Teoricos</label>
                                        <input asp-for="Input.TheoreticalFundament" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.ProblemRecordHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Antecedentes del Problema</label>
                                        <input asp-for="Input.ProblemRecord" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.HypothesisHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Hipotesis</label>
                                        <input asp-for="Input.Hypothesis" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.VariableHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Variables</label>
                                        <input asp-for="Input.Variable" class="form-control m-input" disabled />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-form__section m-form__section">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">4. Metodología:</h3>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-12">
                            <div class="row">
                                @if (!Model.Input.MethodologyTypeHidden)
                                {
                                    <div class="col-xs-12 col-md-12 m-form__group-sub">
                                        <label class="col-form-label">Tipo de Metodología</label>
                                        <input asp-for="Input.MethodologyTypeText" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.MethodologyDescriptionHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Metodología</label>
                                        <textarea rows="5" asp-for="Input.MethodologyDescription" class="form-control m-input" disabled></textarea>
                                    </div>
                                }
                                @if (!Model.Input.PopulationHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Población y Muestra</label>
                                        <textarea rows="5" asp-for="Input.Population" class="form-control m-input" disabled></textarea>
                                    </div>
                                }
                                @if (!Model.Input.InformationCollectionTechniqueHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Diseño de técnicas de Recolección de Información</label>
                                        <textarea rows="5" asp-for="Input.InformationCollectionTechnique" class="form-control m-input" disabled></textarea>
                                    </div>
                                }
                                @if (!Model.Input.AnalysisTechniqueHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Técnicas de Análisis </label>
                                        <textarea rows="5" asp-for="Input.AnalysisTechnique" class="form-control m-input" disabled></textarea>
                                    </div>
                                }

                                @if (!Model.Input.EthicalConsiderationsHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Consideraciones Éticas </label>
                                        <textarea rows="5" asp-for="Input.EthicalConsiderations" class="form-control m-input" disabled></textarea>
                                    </div>
                                }

                                @if (!Model.Input.FieldWorkHidden)
                                {
                                    <div class="col-xs-12 col-md-12 m-form__group-sub">
                                        <label class="col-form-label">Guía de trabajo de Campo : </label>
                                        <span class="m-widget3__status m--font-info center">
                                            <a href="/documentos/@Model.Input.FieldWork" class="btn btn-success m-btn btn-sm m-btn--icon" download=""><span><i class="flaticon-file"></i></span></a>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-form__section m-form__section">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">5. Resultados Esperados:</h3>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-12">
                            <div class="row">
                                @if (!Model.Input.ExpectedResultsHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Resultados Esperados </label>
                                        <input asp-for="Input.ExpectedResults" class="form-control m-input" disabled />
                                    </div>
                                }

                                @if (!Model.Input.ThesisDevelopmentHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Desarrollo de tesis para titulación </label>
                                        <input asp-for="Input.ThesisDevelopment" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.PublishedArticleHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Artículos publicados </label>
                                        <input asp-for="Input.PublishedArticle" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.BroadcastArticleHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Difusión en congreso nacional </label>
                                        <input asp-for="Input.BroadcastArticle" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.ProcessDevelopmentHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Desarrollo de un proceso o prototipo </label>
                                        <input asp-for="Input.ProcessDevelopment" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.BibliographicReferencesHidden)
                                {
                                    <div class="col-xs-6 col-md-6 m-form__group-sub">
                                        <label class="col-form-label">Referencias Bibliográficas </label>
                                        <input asp-for="Input.BibliographicReferences" class="form-control m-input" disabled />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-form__section m-form__section">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">6. Equipo de Trabajo:</h3>
                    <div class="m-portlet m-portlet--full-height ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Miembros del Equipo de Trabajo
                                    </h3>
                                </div>
                            </div>
                        </div>
                        @if (!Model.Input.TeamMemberUserHidden)
                        {
                            @for (int i = 0; i < Model.Input.PostulantTeamMembers.Count(); i++)
                            {
                                <div class="m-portlet__body">
                                    <div class="m-widget3">
                                        <div class="m-widget3__item">
                                            <div class="m-widget3__header">
                                                <div class="m-widget3__info">
                                                    <span class="m-widget3__username">
                                                        @Model.Input.PostulantTeamMembers[i].UserMemberFullName - @Model.Input.PostulantTeamMembers[i].TeamMemberRole
                                                    </span><br>
                                                </div>
                                                <span class="m-widget3__status m--font-info center">
                                                    @if (@Model.Input.PostulantTeamMembers[i].CvFilePath != null)
                                                    {
                                                        <a href="/documentos/@Model.Input.PostulantTeamMembers[i].CvFilePath" class="btn btn-success m-btn btn-sm m-btn--icon" download=""><span><i class="flaticon-file"></i></span></a>
                                                    }
                                                    else
                                                    {
                                                        <label>Sin archivo</label>
                                                    }
                                                </span>
                                            </div>
                                            <div class="m-widget3__body">
                                                <p class="m-widget3__text">
                                                    @Model.Input.PostulantTeamMembers[i].Objectives
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Esta postulación, no tiene habilitado los miembros de Equipo.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="m-portlet m-portlet--full-height ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Colaboradores Externos
                                    </h3>
                                </div>
                            </div>
                        </div>
                        @if (!Model.Input.ExternalMemberHidden)
                        {
                            @for (int i = 0; i < Model.Input.PostulantExternalMembers.Count(); i++)
                            {
                                <div class="m-portlet__body">
                                    <div class="m-widget3">
                                        <div class="m-widget3__item">
                                            <div class="m-widget3__header">
                                                <div class="m-widget3__info">
                                                    <span class="m-widget3__username">
                                                        @Model.Input.PostulantExternalMembers[i].FullName - @Model.Input.PostulantExternalMembers[i].Dni
                                                    </span><br>
                                                </div>
                                                <span class="m-widget3__status m--font-info center">
                                                    @if (@Model.Input.PostulantExternalMembers[i].CvFilePath != null)
                                                    {
                                                        <a href="/documentos/@Model.Input.PostulantExternalMembers[i].CvFilePath" class="btn btn-success m-btn btn-sm m-btn--icon" download=""><span><i class="flaticon-file"></i></span></a>
                                                    }
                                                    else
                                                    {
                                                        <label>Sin archivo</label>
                                                    }
                                                </span>
                                            </div>
                                            <div class="m-widget3__body">
                                                <p class="m-widget3__text">
                                                    @Model.Input.PostulantExternalMembers[i].Profession
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Esta postulación, no tiene habilitado los colaboradores externos.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-12">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-form__section m-form__section">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">7. Anexos Adjuntos:</h3>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-12">
                            <div class="row">
                                @if (!Model.Input.ProjectDurationHidden)
                                {
                                    <div class="col-xs-12 col-md-12 m-form__group-sub">
                                        <label class="col-form-label">Duración en meses del proyecto  </label>
                                        <input asp-for="Input.ProjectDuration" class="form-control m-input" disabled />
                                    </div>
                                }
                                @if (!Model.Input.PostulationAttachmentFilesHidden)
                                {
                                    <div class="col-xs-12 col-md-12 m-form__group-sub">
                                        <label class="col-form-label">Lista de Archivos Anexos</label>
                                        <table class="table table-striped table-bordered" id="annexedFile-datatable"></table>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-form__section m-form__section">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">8. Preguntas Adicionales:</h3>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-12">
                            @if (!Model.Input.QuestionsHidden)
                            {
                                <div class="row">
                                    @for (int i = 0; i < Model.Input.InvestigationQuestions.Count(); i++)
                                    {
                                        <div class="col-12 m-form__group-sub">
                                            <input asp-for="Input.InvestigationQuestions[i].Id" name="Input.InvestigationQuestions[@i].Id" hidden />
                                            <div class="p-3 row">
                                                @(i + 1).&emsp;@Model.Input.InvestigationQuestions[i].QuestionDescription
                                            </div>
                                            <div class="p-2 row ">
                                                <input asp-for="Input.InvestigationQuestions[i].Type" hidden />
                                                @switch (Model.Input.InvestigationQuestions[i].Type)
                                                {
                                                    case TeacherInvestigationConstants.InscriptionForm.QuestionType.TEXT_QUESTION:
                                                        <input asp-for="Input.InvestigationQuestions[i].AnswerDescription" class="form-control" disabled />
                                                        break;
                                                    case TeacherInvestigationConstants.InscriptionForm.QuestionType.MULTIPLE_SELECTION_QUESTION:
                                                        for (int j = 0; j < Model.Input.InvestigationQuestions[i].InvestigationAnswers.Count; j++)
                                                        {
                                                            <input asp-for="Input.InvestigationQuestions[i].InvestigationAnswers[j].Id" hidden />
                                                            <label class="option @(Model.Input.InvestigationQuestions[i].InvestigationAnswers[j].Selected ? "bg-selected" : "")">
                                                                <input type="checkbox" asp-for="Input.InvestigationQuestions[i].InvestigationAnswers[j].Selected" disabled> @Model.Input.InvestigationQuestions[i].InvestigationAnswers[j].Description
                                                            </label>
                                                            @:&emsp;
                                                        }
                                                        break;
                                                    case TeacherInvestigationConstants.InscriptionForm.QuestionType.UNIQUE_SELECTION_QUESTION:
                                                        for (int j = 0; j < Model.Input.InvestigationQuestions[i].InvestigationAnswers.Count; j++)
                                                        {
                                                            <input asp-for="Input.InvestigationQuestions[i].InvestigationAnswers[j].Id" hidden />
                                                            <label class="option @(Model.Input.InvestigationQuestions[i].InvestigationAnswers[j].Selected ? "bg-selected" : "")">
                                                                <input type="radio" asp-for="Input.InvestigationQuestions[i].UniqueAnswer" value="@Model.Input.InvestigationQuestions[i].InvestigationAnswers[j].Id" disabled> @Model.Input.InvestigationQuestions[i].InvestigationAnswers[j].Description
                                                            </label>
                                                            @:&emsp;
                                                        }
                                                        break;
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Input.ReviewState == TeacherInvestigationConstants.ConvocationPostulant.ReviewState.ADMITTED &&
            Model.Input.RateScore >= Model.Input.ConvocationMinScore &&
            Model.Input.ProjectState == TeacherInvestigationConstants.ConvocationPostulant.ProjectState.REQUESTDOCUMENT)
            {
                <div class="m-form__section m-form__section--last">
                    <div class="m-form__heading">
                        <h3 class="m-form__heading-title">Resoluci&oacute;n de postulación</h3>
                    </div>
                    <div class="form-group m-form__group">
                        <form id="resolution-form" class="m-form m-form--state" asp-area="EvaluatorCommittee" asp-page="/InvestigationConvocationPostulantPage/Detail" method="post" enctype="multipart/form-data">
                            <label class="form-control-label">Archivo PDF</label>
                            <div></div>
                            <div class="custom-file">
                                <input id="ResolutionFile" name="ResolutionFile" type="file" class="custom-file-input" accept="application/pdf" lang="es" required />
                                <label class="custom-file-label" for="ResolutionFile">
                                    Seleccione un archivo
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="row">
                        <div class="col-md-6 offset-md-6 m--align-right">
                            <button data-id="accept" id="Accept" type="submit" form="resolution-form" asp-page-handler="Accept" class="btn btn-primary m-btn m-btn--icon">
                                <span>
                                    <i class="la la-archive"></i>
                                    <span>Aceptar</span>
                                </span>
                            </button>
                            <button data-id="reject" id="Reject" type="submit" form="resolution-form" asp-page-handler="Reject" class="btn btn-primary m-btn m-btn--icon">
                                <span>
                                    <i class="la la-danger"></i>
                                    <span>Rechazar</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="observationModal" tabindex="-10" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold">
                    Observaciones
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered" id="observation-table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="postulanttechnicalfileModal" tabindex="-10" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold">
                    Archivos Técnicos
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered" id="postulanttechnicalfile-datatable"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="postulantfinancialfileModal" tabindex="-10" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold">
                    Archivos Financieros
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered" id="postulantfinancialfile-datatable"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/areas/evaluatorcommittee/investigationconvocationpostulant/detail.js" asp-append-version="true"></script>
}