@page "/eventos/{eventId:Guid}/detalle"
@model AKDEMIC.TEACHERINVESTIGATION.Pages.EventPage.DetailModel
@using Microsoft.AspNetCore.Html
@{
    Layout = "~/Pages/Shared/Templates/Portal/_Layout.cshtml";
}


<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption" style="width:100%">
                <div class="m-portlet__head-title" style="width:100%;display: block;">
                    <h3 class="m-portlet__head-text" style="display:initial;">
                        Eventos
                    </h3>
                </div>
                <div class="m-portlet__head-tools">
                    <a title="Regresar" class="ml-1 btn btn-primary m-btn--icon" href="/">
                        <span>
                            <i class="la la-backward"></i>
                            <span>Regresar</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-bottom-20">
                <div class="row align-items-center m--margin-bottom-10">
                    <div class="col-md-12">
                        <h2 style="font-size:1.3rem">@Model.Input.Title</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom:30px">
                    <div class="col-md-6 m--margin-bottom-30">
                        <div class="m--margin-bottom-5">
                            <span class="m-widget19__number m--font-brand m--margin-right-5 m--margin-left-5"><i class="flaticon-calendar-2"></i></span>
                            <span class="m-widget19__comment m--margin-right-5 m--margin-left-5"><strong>Fecha de Evento: </strong> @Model.Input.EventDate </span>
                        </div>
                        <div class="m--margin-bottom-5">
                            <span class="m-widget19__number m--font-brand m--margin-right-5 m--margin-left-5"><i class="flaticon-home"></i></span>
                            <span class="m-widget19__comment m--margin-right-5 m--margin-left-5"><strong>Organizador: </strong> @Model.Input.Organizer </span>
                        </div>
                        <div class="m--margin-bottom-5">
                            <span class="m-widget19__number m--font-brand m--margin-right-5 m--margin-left-5"><i class="flaticon-suitcase"></i></span>
                            <span class="m-widget19__comment m--margin-right-5 m--margin-left-5"><strong>Unidad: </strong> @Model.Input.Unit </span>
                        </div>
                        <div class="m--margin-bottom-5 m--margin-left-5">
                            @(new HtmlString(Model.Input.Description))
                        </div>
                        <div>
                            @if (!Model.Input.SignedUp)
                            {
                                <button type="button" data-toggle="modal" data-target="#inscription_modal" title="Registrarse" class="ml-1 btn btn-primary m-btn--icon">
                                    <span>
                                        <i class="la la-download"></i>
                                        <span>Registrar</span>
                                    </span>
                                </button>
                            }
                            else
                            {
                                <div style="color:green">
                                    <h5>@Model.Input.UserSigned ya se ha registrado en este evento</h5>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img style=" display: flex; margin: auto; max-width: 100%; max-height: 100%;" src="@($"/imagenes/{Model.Input.PicturePath}")">
                    </div>
                </div>

                <div style="text-align:center;">
                    <img src="@Model.Input.ImageQR" style="height: 250px; width: 250px;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inscription_modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Inscribirse al Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6" style="padding-right:20px; border-right:1px solid">
                        <h5>Participar como invitado</h5>
                        <form id="guest_inscription" asp-page="/EventPage/Detail" asp-page-handler="RegisterToEventAsGuest" method="post">
                            <input name="EventId" type="hidden" value="@Model.Input.Id">
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12">
                                    <label>Apellido Paterno</label>
                                    <input name="PaternalSurname" placeholder="Apellido Paterno" class="form-control m-input" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12">
                                    <label>Apellido Materno</label>
                                    <input name="MaternalSurname" placeholder="Apellido Materno" class="form-control m-input" required>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="form-group m-form__group col-lg-12">
                                    <label>Nombres</label>
                                    <input name="Name" placeholder="Nombres" class="form-control m-input" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12">
                                    <label>DNI</label>
                                    <input name="Dni" placeholder="DNI" class="form-control m-input" pattern="[0-9]+" minlength="8" maxlength="8" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12">
                                    <label>Correo</label>
                                    <input type="email" name="Email" placeholder="Correo" class="form-control m-input" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12">
                                    <label>Universidad</label>
                                    <input name="University" placeholder="Universidad" class="form-control m-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12">
                                    <label>Fecha de Nacimiento</label>
                                    <input name="BirthDate" placeholder="Fecha de Nacimiento" class="form-control m-input" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12">
                                    <label>Teléfono</label>
                                    <input name="PhoneNumber" placeholder="Teléfono" class="form-control m-input" pattern="^[1-9][0-9]{4,9}$" minlength="5" maxlength="9" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12">
                                    <button id="btnRegisterAsGuest" type="submit" class="btn btn-primary btn-block ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Registrarse</span>
                                        <span class="ladda-spinner"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6" style="padding-left:20px">
                        @if (User?.Identity.IsAuthenticated == true)
                        {
                            <h5>Participar como usuario</h5>
                            <form id="user_inscription" asp-page="/EventPage/Detail" asp-page-handler="RegisterToEventAsUser" method="post">
                                <input name="EventId" type="hidden" value="@Model.Input.Id">
                                <div class=" row">
                                    <div class="form-group m-form__group col-lg-12">
                                        <label>Usuario</label>
                                        <input class="form-control m-input" value="@(User.GetFullName())" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group m-form__group col-lg-12">
                                        <button id="btnRegisterAsUser" type="submit" class="btn btn-primary btn-block ladda-button" data-style="slide-down">
                                            <span class="ladda-label">Registrarse</span>
                                            <span class="ladda-spinner"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <h5>Participar como usuario</h5>
                            <div>
                                <strong>Para participar con su usuario debe logearse</strong>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12">
                                    <button id="btnLogin" type="button" class="btn btn-primary btn-block ladda-button" data-style="slide-down">
                                        <span class="ladda-label">Registrarse</span>
                                        <span class="ladda-spinner"></span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/pages/event/detail.js" type="text/javascript" asp-append-version="true"></script>
}

